<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../stylesheets/scrolling-nav.css" rel="stylesheet">

    <link href="../stylesheets/style.css" rel="stylesheet">
    
 <script src="../javascripts/thirdParty/jquery-2.1.1.min.js"></script>
    <!-- Add fancyBox -->
        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/jquery.fancybox.pack.js"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-media.js"></script>

        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

		<script type="text/javascript"
	      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKxiYt0AMWRbyJ6yimvJ3fBZ0-VeHzYYw&sensor=TRUE">
	    </script>

        <!-- my own code-->
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox();
                $(".various").fancybox({
                    maxWidth    : 800,
                    maxHeight   : 600,
                    fitToView   : true,
                    width       : '90%',
                    height      : '90%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none'
                });
            });
        </script>


        <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        
        </script>

        
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div id="fb-root"></div>

    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a class="" href=""></a>
                    </li>
                    <li class="">
                        <a class="" href="/photos/upload">貢獻獵物</a>
                    </li>
                    <li class="">
                        <a class="" href="/photos">欣賞圖鑑</a>
                        <!-- 做成遊戲依樣 有卡片編號 -->
                    </li>
                    <li class="">
                        <a class="" href="">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="" class=""  >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="fortest">Photos</h1>
                    <p>Express stock photo application.</p>




                    <div id="photos" class="col-lg-12">
                    <% photos.forEach(function(photo, index) { %>
	                    <div class="photos" class="col-lg-12">
		                    <div><%=photo.name%></div>
                            <div><%=photo._id%></div>
                            <div class="fb-like" data-href="http://young-forest-9275.herokuapp.com/photos/<%=photo._id%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
                            <a class="various" href="#hideInfo_<%=index %>">more detail</a>
		                    <img class="photos" src='/photos/<%=photo.path%>'/>
                            <div id="hideInfo_<%=index %>" style="display:none;">
                                hahaah
                               <%=photo.path%> 
                               <%=photo.longitude%>
                               <%=photo.latitude%>

                               <script>
									function initialize() {
									  var mapProp = {
									    center:new google.maps.LatLng(51.508742,-0.120850),
									    zoom:5,
									    mapTypeId:google.maps.MapTypeId.ROADMAP
									  };
									  var map=new google.maps.Map(document.getElementById("googleMap<%=photo._id%>"), mapProp);
									}
									google.maps.event.addDomListener(window, 'load', initialize);
								</script>

                               <div id="googleMap<%=photo._id%>" style="width:500px;height:380px;">
                               	
                               </div>
                            </div>
	                    </div>
                    <% }) %>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="various" rel="group" href="#inlinetest"><img src="small_image_1.jpg" alt="" /></a>


    <div class="footer">
      <div class="container">
        <p id="inlinetest" class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
   

    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/thirdParty/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../javascripts/thirdParty/jquery.easing.min.js"></script>
    <script src="../javascripts/thirdParty/scrolling-nav.js"></script>
<script type="text/javascript" src="/javascripts/photos_Page.js"></script>



</body></html>