<!DOCTYPE html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../stylesheets/scrolling-nav.css" rel="stylesheet">

    <link href="../stylesheets/style.css" rel="stylesheet">
    
 <script src="../javascripts/thirdParty/jquery-2.1.1.min.js"></script>
    <!-- Add fancyBox -->
        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/jquery.fancybox.pack.js"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-media.js"></script>

        <link rel="stylesheet" href="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
        <script type="text/javascript" src="../javascripts/thirdParty/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

		

        <!-- my own code-->
        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox();
                $(".various").fancybox({
                    maxWidth    : 800,
                    maxHeight   : 600,
                    fitToView   : true,
                    width       : '90%',
                    height      : '90%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none'
                });
            });
        </script>


        <script>
        // (function(d, s, id) {
        //       var js, fjs = d.getElementsByTagName(s)[0];
        //       if (d.getElementById(id)) return;
        //       js = d.createElement(s); js.id = id;
        //       js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
        //       fjs.parentNode.insertBefore(js, fjs);
        //     }(document, 'script', 'facebook-jssdk'));

        
        </script>
        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '484006505073786',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

        <script>
            $(document).ready(function() {
                console.log($(this).attr('data-href'));
                $(".picmap").click(function() {
                    if($(this).attr('data-latitude') == "" || $(this).attr('data-longitude') == ""){
                        alert("這張照片沒有位置資訊喔><");
                        return false;
                    }
                    // console.log($(this).attr('data-latitude'));
                    // console.log($(this).attr('data-longitude'));
                    localStorage.temp_latitude = $(this).attr('data-latitude');
                    localStorage.temp_longitude = $(this).attr('data-longitude');
                    localStorage.temp_url = $(this).attr('data-href');


             });
            });
         


        </script>


        
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div id="fb-root"></div>

    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a class="" href=""></a>
                    </li>
                    <li class="">
                        <a class="" href="/photos/upload">貢獻獵物</a>
                    </li>
                    <li class="">
                        <a class="" href="/photos">欣賞圖鑑</a>
                        <!-- 做成遊戲依樣 有卡片編號 -->
                    </li>
                    <li class="">
                        <a class="" href="/photos/ranking">排名</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="" class=""  >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   




                    <div id="photos" class="col-lg-12" style="margin-top:100px;">
                        <div class="row">
                    <% photos.forEach(function(photo, index) { %>

	                    <div class=" col-sm-4" style="margin-bottom:50px;">
		                    <!-- <div><%=photo.name%></div> -->
                            <!-- <div><%=photo._id%></div> -->
                            <div   class="fb-like" data-href="http://young-forest-9275.herokuapp.com/photos/<%=photo._id%>" data-width="100px" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
                            <div style="margin:5px 0;">

                                
                                <a id="map_<%=photo._id%>" data-href="http://192.168.1.4:3000/photos/<%=photo.path%>" data-latitude="<%=photo.latitude%>" data-longitude="<%=photo.longitude%>" class="btn btn-default various fancybox.iframe picmap" href="/picmap.htm">map</a>
                            
                            
                            <a class="btn btn-default various" href="#hideInfo_<%=index %>">more detail</a>
                            

                            </div>
                            
                            <div>
                                <a class="fancybox" href="/photos/<%=photo.path%>">
		                    <img  style="width:90%;" class="photos" src='/photos/<%=photo.path%>'/>
                                </a>
                            </div>
                            <div id="hideInfo_<%=index %>" style="display:none;">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <td>Owner</td>
                                        <td><%=photo.owner%></td>
                                    </tr>
                                    <tr>
                                        <td>名稱</td>
                                        <td><%=photo.title%></td>
                                    </tr>
                                    <tr>
                                        <td>日期</td>
                                        <td><%=photo.date%></td>
                                    </tr>
                                    <tr>
                                        <td>秘訣</td>
                                        <td><%=photo.camera%></td>
                                    </tr>
                                    <tr>
                                        <td>雜記</td>
                                        <td><%=photo.comment%></td>
                                    </tr>
                                    
                                </table>
                                
                                
                              
                    


                            

                              
                               	
                               </div>
                            </div>
	                    
                    <% }) %>
                </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    


<!--     <div class="footer">
      <div class="container">
        <p id="inlinetest" class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>
 -->
    <!-- jQuery Version 1.11.0 -->
   

    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/thirdParty/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="../javascripts/thirdParty/jquery.easing.min.js"></script>
    <script src="../javascripts/thirdParty/scrolling-nav.js"></script>
<script type="text/javascript" src="/javascripts/photos_Page.js"></script>



</body></html>